.our-features {
    text-align: center;
    font-size: 3rem;
    font-weight: 400;
    strong {
        font-weight: 800;
    }

    &__icon {
        margin-right: 10px;
        position: relative;
        top: 5px;
    }
}

.row-our-features {
    display: grid;
    padding: .5rem 1rem;
    grid-template-columns: 1fr;

    &__columns {
        display: grid;

        @mixin atMedium {
            grid-auto-rows: 1fr; /* This sets the rows at equal heights */
        }

        
    }

    @mixin atMedium {
        grid-template-columns: 1fr 1fr;
        column-gap: 5rem;;
      }

    &__columns--wrapper {
        display: grid;
        grid-template-columns: 1fr;

        @mixin atMedium {
            grid-template-columns: 1fr 4fr;
        }

        @mixin atLarge {
            grid-template-columns: 1fr 5fr;
        }
    }

    &__columns--icon {
        text-align: center;

        @mixin atMedium {
            position: relative;
            top: 1.5rem;
        }
        
    }

    &__columns--prose {
        line-height: 1.5;
        font-weight: 300;

        h3 {
            text-align: center;

            @mixin atMedium {
                text-align: left;
            }
        }
    }
}
