.testimonials {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    max-width: 1200px;
    column-gap: 1.5rem;
    margin-top: 50px;

    @mixin atMedium {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        margin-top: 150px;
    }
    
    &__single {
        display: flex;
        flex-direction: column;
        background-color: white;
        align-items: center;
        padding-bottom: 1rem;

        @mixin atSmaller {
            margin-top: 20px;
        }
        @mixin atSmall {
            margin-top: 20px;
        }

        &--image {
            border: 3px solid white;
            border-radius: 50%;
            align-self: center;
            overflow: hidden;
            
            @mixin atSmaller {
                margin-top: 20px;
            }

            @mixin atSmall {
                margin-top: 20px;
            }

            @mixin atMedium {
                margin-top: -100px;
            } 

            img {
                position: relative;
                top: 2px;
                transform: scale(1.05)
            }
        }
        
        &--prose {
            display: flex;
            flex-direction: column;
            align-items: center;
            flex: 1 1 auto;
        }

        &--title {
            margin: 10px 0 0;
            color: $mainBlue;
            font-size: 2em;
        }

        &--subtitle {
            margin: 10px 0 10px;
            color: $mainOrange;
            font-size: 1rem;
        }

        &--description {
            padding: 0 1rem;
            line-height: 1.5;
            height: 100%;
        }
    }
}